h2= numbahs
- var extractor = numbahs
- var baz = extractor.length
h1= baz
h3= "!{numbahs}"
script.
  alert("!{numbahs}")
  alert(typeof "!{numbahs}")
  var strNumbahs = "!{numbahs}"
  var arrNumbahs = strNumbahs.split(',')
  alert(typeof arrNumbahs)
  alert(arrNumbahs.length)

